/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

/* Você pode usar o CSS comentado abaixo, se ajudar */
/* Fonte: https://codepen.io/CrisWoler/pen/ogXBLj */
.btn {
  position: relative;
  display: block;
  padding: 10px 15px;

  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  background-color: #f7d736;

  transition: background-color 0.3s;
}

.btn > * {
  position: relative;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.appbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.30), 0px 5px 20px rgba(0,0,0,0.30);
  background-color: #f7d736;
  transition: background-color 0.3s;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 5%; 
  height: auto;
  padding: 10px 5px;
}

.subtitle {
  padding: 0px 10px;
  color: #2c2c2c;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2), 0px 10px 20px rgba(0,0,0,0.3);
  border-radius: 8px;
  width: 560px;
  height: 140px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.form-card-title {
  position: relative;
  border: none;
  font-size: 18px;
  color: #2c2c2c;
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.autoresize {
  position: relative;
  border: none;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  color: #2c2c2c;
  resize: none;
  width: 80%;
}

.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 30px;
}

.card{
  display: flex;
  margin-top: 19px;
  margin-bottom: 19px;
  margin-left: 3px;
  margin-right: 3px;
  width: 15%;
  height: 140px;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2), 0px 10px 20px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.card-title {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 19px;
  margin-top: 5%;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}

.card-content {
  display: flex;
  margin-bottom: 5%;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  justify-content: center;
  align-content: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  color: #4c4c4c;
}

.card-color-1 {
  background-color: #ead3a7;
  border: 0.4px solid #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
  border: 0.4px solid #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
  border: 0.4px solid #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
  border: 0.4px solid #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
  border: 0.4px solid #abe9c1;
}

.card-rotation-1 {
  transform: rotate(5deg);
}

.card-rotation-2 {
  transform: rotate(-5deg);
}

.card-rotation-3 {
  transform: rotate(5deg);
}

.card-rotation-4 {
  transform: rotate(-5deg);
}

.card-rotation-5 {
  transform: rotate(-4deg);
}

.card-rotation-6 {
  transform: rotate(6deg);
}

.card-rotation-7 {
  transform: rotate(4deg);
}

.card-rotation-8 {
  transform: rotate(-5deg);
}

.card-rotation-9 {
  transform: rotate(3deg);
}

.card-rotation-10 {
  transform: rotate(-5deg);
}